.center-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
 }

 .btn-login{
    display: flex;
 }

 .contraseña{
    display: flex;
    justify-content: center;
 }

 .registro{
    height: 1px;
    display: flex;
    align-items: end;
 }