<ion-card class="card-box">

  <ion-card-header class="registro">

    <a id="link-registro" href="/registro">Registrarse</a>

  </ion-card-header>

  <ion-card-header class="center-card">

    <ion-card-title>Inicio sesión</ion-card-title>

  </ion-card-header>

  <ion-card-content>

    <ion-input [(ngModel)]="loginuser.correo">Correo electronico</ion-input>
    <ion-input [(ngModel)]="loginuser.psw">Contraseña</ion-input>

    <ion-list>
      <ion-item>
        <ion-select [(ngModel)]="loginuser.usuario" placeholder="Seleccionar">
          <div slot="label">Tipo de usuario</div>
          <ion-select-option value="conductor">Conductorr</ion-select-option>
          <ion-select-option value="pasajero">Pasajero</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button class="btn-login" (click)="fnvalidarvacios(loginuser)">Ingresar</ion-button>

    <ion-card-content class="contraseña">

      <a href="/restore-password">Recuperar contraseña</a>

    </ion-card-content>

  </ion-card-content>

</ion-card>
