.center-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
 }

 .btn-login{
    display: flex;
    margin-inline: 200px;
    margin-top: 40px;
 }

 .contraseña{
    display: flex;
    justify-content: center;
 }

 .registro{
    height: 1px;
 }