<ion-card class="card-box">

  <ion-card-header class="registro">

    <a id="link-registro" href="/registro">Registrarse</a>

  </ion-card-header>

  <ion-card-header class="center-card">

    <ion-card-title>Inicio sesión</ion-card-title>

  </ion-card-header>

  <ion-card-content>

    <ion-input [(ngModel)]="user.correo">Correo electronico</ion-input>

    <ion-input [(ngModel)]="user.psw">Contraseña</ion-input>

    <ion-button class="btn-login" (click)="fnvalidarvacios(user)">Ingresar</ion-button>

    <ion-card-content class="contraseña">

      <a href="/restore-password">Recuperar contraseña</a>

    </ion-card-content>

  </ion-card-content>

</ion-card>
