<ion-card class="card-box">

  <ion-card-header class="registro">

    <a href="/registro">Registrarse</a>

  </ion-card-header>

  <ion-card-header class="center-card">

    <ion-card-title>Inicio sesión</ion-card-title>

  </ion-card-header>

  <ion-card-content>

    <ion-input class="center-input-login">Usuario</ion-input>

    <ion-input class="center-input-login">Contraseña</ion-input>

    <ion-button class="btn-login">Ingresar</ion-button>

    <ion-card-content class="contraseña">

      <a href="/restore-password">Recuperar contraseña</a>

    </ion-card-content>

  </ion-card-content>

</ion-card>
