<ion-card class="card-box">

  <ion-card-header class="center-card">

    <ion-card-title>Recuperar contraseña</ion-card-title>

  </ion-card-header>

  <ion-card-content>

    <ion-input [(ngModel)]="psw.correo">Correo electronico</ion-input>
    <ion-input [(ngModel)]="psw.psw">Nueva contraseña</ion-input>
    <ion-input [(ngModel)]="psw.cpsw">Confirmar contraseña</ion-input>

    <ion-button class="btn-recuperar" (click)="fnvalidarvacios()">Recuperar</ion-button>

  </ion-card-content>

</ion-card>
