<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list >
  <ion-card *ngFor="let trip of bdviajes">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-subtitle>
        Salida: {{trip.trayecto_i}}
        <br>
        Hora salida: {{trip.hora}}
        <br>
        Llegada: {{trip.trayecto_f}}
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      nombre conductor: {{trip.nombre}}
      pasajes disponibles: {{trip.cupos}}
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>
