<ion-card class="card-box">

  <ion-card-header class="center-card">

    <ion-card-title>Registrarse</ion-card-title>

  </ion-card-header>

  <ion-card-content>

    <ion-input [(ngModel)]="registrar.nombre">Nombre </ion-input>
    <ion-input [(ngModel)]="registrar.correo">Correo electronico</ion-input>
    <ion-input type="password" [(ngModel)]="registrar.psw1">Contraseña</ion-input>
    <ion-input type="password" [(ngModel)]="registrar.psw2">Confirmar contraseña</ion-input>

    <ion-button class="btn-registro" (click)="validarpsw()">Registrarse</ion-button>

  </ion-card-content>

</ion-card>